<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Image details</legend>
    <ol>
      <li>
      <%= f.label :url %>
      <%= f.text_field :url, :size => 150 %>
      </li>
      <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
      </li>
      <li>
      <%= f.label :description %>
      <%= f.text_area :description, :maxlength => "100", :rows => "5",
      :cols => "5", :resize => "none" %>
      </li>
  </fieldset>
  <fieldset>
    <button type=submit><%= t :submit_image %></button>
  </fieldset>

<% end %>
