<div class="form_title">
  <h1><%= notice %></h1>
  <p>
    <b>Url:</b>
    <%= @image.url %>
  </p>

  <p>
    <b>Description:</b>
    <%= @image.description %>
  </p>
</div>

<div class="form_footer">
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>
